{% extends "base.html" %}

{% block content %}

<h3 class="mb-3">Monthly Sales</h3>

<div class="card shadow p-3">
<canvas id="monthlyChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const labels = {{ monthly | map(attribute='month') | list | tojson }};
const data = {{ monthly | map(attribute='total') | list | tojson }};

const ctx = document.getElementById('monthlyChart');

new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Monthly Sales',
            data: data
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                display: true
            }
        }
    }
});
</script>

{% endblock %}