{% extends "base.html" %}

{% block content %}

<h3 class="mb-3">Profit Report</h3>

<div class="card shadow p-3">

<table class="table table-bordered table-striped">
<thead>
<tr>
<th>Product</th>
<th>Revenue</th>
<th>Cost</th>
<th>Profit</th>
</tr>
</thead>

<tbody>
{% for r in report %}
<tr>
<td>{{ r.name }}</td>
<td>{{ r.revenue }}</td>
<td>{{ r.cost }}</td>
<td class="{% if r.profit < 0 %}text-danger{% else %}text-success{% endif %}">
{{ r.profit }}
</td>
</tr>
{% endfor %}
</tbody>

</table>

</div>

<div class="card mt-3 p-3 shadow">
<h5>Total Profit: ₹ {{ total_profit }}</h5>
</div>

{% endblock %}